<p style="color: green"><%= notice %></p>

<h1><%= current_user.login %>'s Todo List(s)</h1>

<div id="todo_lists">
  <table>
    <tr>
      <th>Name</th>
      <th>Due Date</th>
    </tr>

    <% @todo_lists.each do |todo_list| %>
      <tr>        
        <td><%= link_to todo_list.list_name, todo_list %></td>
        <% if all_todo_items_complete(todo_list) %>
          <td class="complete"><%= todo_list.list_due_date %></td>
        <% else %>
          <td class="incomplete"><%= todo_list.list_due_date %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "Create New Todo List", new_todo_list_path %>
