<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div id="todo_items">
  <h4>Todo Items:</h4>
  <ul>
    <% @todo_list.todo_items.each do |item|%>
      <li><%= item.task_title %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= button_to "Add Todo Item", new_todo_list_todo_item_path(@todo_list), method: :get %>
  <%= link_to "Edit this todo list", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back to todo lists", todo_lists_path %>

  <%= button_to "Destroy this todo list", @todo_list, method: :delete %>
</div>
