<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div id="todo_items">
  <%= render @todo_list.todo_items %>
</div>

<%= form_with(model: @todo_item, local: true, url: [@todo_list, @todo_item]) do |form| %>
  <div class="field">
    <%= form.label :task_title %>
    <%= form.text_field :task_title %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.text_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, size: "40x12" %>
  </div>

  <div class="actions">
    <%= form.submit "Add a TodoItem" %>
  </div>
<% end %>

<div>
  <%= link_to "Edit this todo list", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back to todo lists", todo_lists_path %>

  <%= button_to "Destroy this todo list", @todo_list, method: :delete %>
</div>
