<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div id="todo_items">
  <dl>
    <dt><b>Todo Items:</b></dt>
    <% @todo_list.todo_items.each do |item|%>
      <% if item.done? %>
        <dd><%= link_to item.task_title, todo_list_todo_item_path(@todo_list,item), {:style=>'color:green;'} %></dd>
      <% else %>
        <dd><%= link_to item.task_title, todo_list_todo_item_path(@todo_list,item), {:style=>'color:red;'} %></dd>
      <% end %>
    <% end %>
  </dl>
</div>

<div>
  <table>
    <tr>
      <td><%= button_to "Add Todo Item", new_todo_list_todo_item_path(@todo_list), method: :get %></td>
      <td><%= button_to "Destroy this todo list", @todo_list, method: :delete %></td>
    </tr>
    <tr>
      <td><%= link_to "Edit todo list", edit_todo_list_path(@todo_list) %></td>
      <td><%= link_to "Show all todo lists", todo_lists_path %></td>
    </tr>
  </table>
  

</div>
